.list{
  width: 305px;
  min-width: 305px;
  background-color: #d6c7c0;
  padding: 15px 0;
  border-radius: 10px;
  margin-right: 20px;
  height: fit-content;
  // overflow-y: scroll;
  max-height: inherit;
  // box-sizing: content-box;
  .list__title{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    textarea{
      width: 100%;
      height: 100%;
      outline: 0;
      font-size: 24px;
      // margin-left: 60px;
      border: 0;
      background-color: rgba(0, 0, 0, 0);
      resize: none;
      overflow: hidden;
      // overflow-wrap: break-word;
      // overflow-y: visible

      padding: 0 5px;
      box-sizing: border-box;
      font-family: 'chinson';
      &::placeholder{
        color: rgb(167, 167, 167);
      }
      &:focus, &:hover{
        border-bottom: 1px solid #79797993;
      }
    }
    .title__delete{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;
      // background-color: khaki;
      margin: 5px 5px 0 0;
      img{
        width: 14px;
        height: 14px;
      }
    }
  }
  .list__card{
    // display: flex;
    // flex-flow: column;
    .card{
      display: flex;
      align-items: center;
      height: 34px;
      width: 100%;
      padding: 0 10px;
      box-sizing: border-box;
      &:hover{
        border-top: 1px solid #adadad;
        border-bottom: 1px solid #adadad;
        box-sizing: border-box;
      }
      .card__checkbox{
        width: 16px;
        height: 16px;
        margin-right: 10px;
        border-radius: 8px;
        i{
          display: block;
          width: 14px;
          height: 14px;
          border-radius: 6px;
          background-color: #ff9d9d;
          margin: 2px 0 0 2px;
          .checkIcn{
            width: 16px;
            height: 16px;
          }
        }
      }
      textarea{
        flex: 1;
        height: 20px;
        outline: 0;
        font-size: 16px;
        // margin-left: 60px;
        border: 0;
        background-color: rgba(0, 0, 0, 0);
        resize: none;
        overflow: hidden;
        overflow-wrap: break-word;
        padding: 0 5px;
        box-sizing: border-box;
        font-family: 'chinson';
        &::placeholder{
          color: rgb(167, 167, 167);
        }
        &:focus, &:hover{
          border-bottom: 1px solid #79797993;
        }
      }
      .card__delete{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
        margin-left: 17px;
        img{
          width: 14px;
          height: 14px;
        }  
      }
    }
    .plusBtn{
      display: flex;
      align-items: center;
      // justify-content: center;
      height: 30px;
      width: calc(100% - 20px);
      margin: 0 10px;
      border-radius: 5px;
      padding-left: 10px;
      box-sizing: border-box;
      &:hover{
        background-color: rgba(124, 124, 124, 0.151);
      }
      img{
        height: 16px;
        width: 16px;
        margin-right: 10px;
      }
    }
  }
}
