.content{
  height: 100%;
  width: 100%;
  background-color: #fdfbef;
  padding: 20px;
  box-sizing: border-box;
  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 100%;
    // background-color: aqua;
    margin-bottom: 50px;
    p{
      // font-family: 'Roboto';
      font-size: 40px;
      min-width: 180px;
      margin-right: 10px;
      flex: 1;
      // height: 40px;
    }
    .header__newList{
      display: flex;
      align-items: center;
      height: 40px;
      width: 500px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
      margin-right: 10px;
      input{
        flex: 1;
        line-height: 40px;
        border: 0;
        outline: 0;
        font-size: 18px;
        font-family: none;
        padding: 0 0 0 10px;
        box-sizing: border-box;  
        background-color: rgba(255, 255, 255, 0);
      }
      .plusBtn{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 40px;
        img{
          height: 16px;
          width: 16px;  
        }
      }
    }
    &::after{
      content: '';
      flex: 1;
      height: 10px;
    }
  }
  .allList{
    // background-color: chocolate;
    width: 100%;
    height: calc(100% - 90px);
  }
}